/*
 * Libraries
 */
/**
 * Main libraries loader.
 */
@import url(../bower_components/normalize-css/normalize.css);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*------------------------------------------------------------------------------
 * Color Definitions
 *------------------------------------------------------------------------------
 * Use this file to set color variables & functions.
 *
 * Before starting to define your color variables, I'll advice you: colors (
 * maybe more then other kind of variables in Sass) can get really trick and
 * messed up after some time, mostly because then tend to change a lot during
 * development. To help you make better decisions, I would advice you to read
 * the followng articles:
 *
 * - http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-name-your-sass-variables-modularly/
 * - http://sachagreif.com/sass-color-variables/
 */
/**
 * Declarative.
 */
/**
 * Descritive.
 */
/**
 * Functional
 */
/*------------------------------------------------------------------------------
 * Typography Definitions
 *------------------------------------------------------------------------------
 * Use this file to set typography variables & functions.
 *
 * Althought this might seem like the place for it, this is not the place for
 * defining custom font sources. To keep this file a non-emitting partial, you
 * you should only set here the font-related variables, such as font sizes,
 * font weights, font families, etc.
 */
/*------------------------------------------------------------------------------
 * Media Definitions
 *------------------------------------------------------------------------------
 * Use this file to set breakpoint variables & functions.
 */
/*------------------------------------------------------------------------------
 * Grid Definitions
 *------------------------------------------------------------------------------
 */
/*!
 * bootstrap-grid v1.1.0
 * Copyright 2015 Santeri Hiltunen
 * Licensed under MIT (https://github.com/Hilzu/bootstrap-grid/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }

nav:before,
#section-who:before,
#section-cases > aside:before,
#section-call-to-action:before,
#section-footer:before,
nav:after,
#section-who:after,
#section-cases > aside:after,
#section-call-to-action:after,
#section-footer:after,
#section-cases > main > article:before,
#section-products > main > article:before,
#section-cases > main > article:after, #section-products > main > article:after {
  content: " ";
  display: table; }

nav:after,
#section-who:after,
#section-cases > aside:after,
#section-call-to-action:after,
#section-footer:after,
#section-cases > main > article:after, #section-products > main > article:after {
  clear: both; }

#section-cases > main > article, #section-products > main > article {
  margin-left: -15px;
  margin-right: -15px; }

#section-cases > main > article > main,
#section-cases > main > article > footer, #section-who > aside,
#section-who > main,
#section-who > footer, #section-cases > aside > p, #section-products > main > article > main,
#section-products > main > article > aside, #section-call-to-action #section-services,
#section-call-to-action #section-blog, #section-footer > main,
#section-footer > aside, #section-cases > main > article > aside {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 992px) {
  #section-cases > main > article > main,
  #section-cases > main > article > footer, #section-who > aside,
  #section-who > main,
  #section-who > footer, #section-cases > aside > p, #section-products > main > article > main,
  #section-products > main > article > aside, #section-call-to-action #section-services,
  #section-call-to-action #section-blog, #section-footer > main,
  #section-footer > aside, #section-cases > main > article > aside {
    float: left; }
  #section-cases > main > article > aside {
    width: 58.33333333%; }
  #section-who > aside,
  #section-who > main,
  #section-who > footer, #section-cases > aside > p, #section-products > main > article > main,
  #section-products > main > article > aside, #section-call-to-action #section-services,
  #section-call-to-action #section-blog, #section-footer > main,
  #section-footer > aside {
    width: 50%; }
  #section-cases > main > article > main,
  #section-cases > main > article > footer {
    width: 41.66666667%; }
  #section-who > main,
  #section-who > footer {
    right: 50%; }
  #section-who > aside {
    left: 50%; } }

/**
 * Taller icon styles
 */
#section-heading a[href="#section-who"]:before, #section-heading nav h2:before, #section-footer h2:before {
  font-family: "Taller Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#section-heading a[href="#section-who"]:before {
  content: "b"; }

#section-heading nav h2:before, #section-footer h2:before {
  content: "d"; }

#section-cases > aside .call-to-action:after, #section-call-to-action #section-services > main > article > a:after, #section-call-to-action #section-blog > main > article > a:after, #section-footer > aside a:after {
  font-family: "Taller Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#section-cases > aside .call-to-action:after, #section-call-to-action #section-services > main > article > a:after, #section-call-to-action #section-blog > main > article > a:after, #section-footer > aside a:after {
  content: "a"; }

/**
 * Remarkable component for jumbotron-link styles
 */
#section-hero {
  font-size: 2.25rem;
  font-family: "Alegreya", "aleo", Georgia, "Times New Roman", Times, Georgia, "DejaVu Serif", serif; }

/**
 * Button components
 */
#section-heading a[href="#section-who"], #section-footer h2 {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 0;
  text-decoration: none;
  text-align: center; }
  #section-heading a[href="#section-who"]:before, #section-footer h2:before {
    font-size: 1.6rem;
    line-height: 3.7rem; }

#section-heading a[href="#section-who"], #section-footer h2 {
  background-color: #E02438;
  color: white; }

#section-heading a[href="#section-who"] {
  border-radius: 50%; }

#section-footer h2 {
  border-radius: .35rem; }

#section-cases > aside .call-to-action, #section-call-to-action #section-services > main > article > a, button, #section-call-to-action #section-blog > main > article > a, #section-footer > aside a, #section-cases > main > article .read-more, #section-products .read-more, input[type="text"] {
  border: 0.2em solid;
  border-radius: 4px;
  padding: 0.35em 1.25em;
  text-transform: uppercase;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 2em; }

#section-cases > aside .call-to-action, #section-call-to-action #section-services > main > article > a, button, #section-call-to-action #section-blog > main > article > a, #section-footer > aside a, #section-cases > main > article .read-more, #section-products .read-more {
  text-decoration: none;
  display: inline-block; }

#section-cases > aside .call-to-action, #section-call-to-action #section-services > main > article > a, button {
  border: 0.2em solid #E02438;
  background-color: #E02438;
  color: white; }

#section-cases > aside .call-to-action, #section-call-to-action #section-services > main > article > a {
  color: white;
  background-color: #E02438; }

#section-cases > aside .call-to-action, #section-call-to-action #section-services > main > article > a {
  margin-top: 1rem; }
  #section-cases > aside .call-to-action:after, #section-call-to-action #section-services > main > article > a:after {
    margin-left: 1.2em; }

#section-call-to-action #section-blog > main > article > a, #section-footer > aside a {
  margin-top: 1rem; }
  #section-call-to-action #section-blog > main > article > a:after, #section-footer > aside a:after {
    margin-left: 1.2em; }

/**
 * Text components
 */
#section-cases > main > article > header p {
  margin-left: auto;
  margin-right: auto;
  max-width: 35em; }

/**
 * Link components
 */
a[href^="tel:"] {
  color: inherit !important;
  text-decoration: none;
  border-bottom: 2px solid; }

/*
 * Outputing vendors
 */
/*
 * Partials
 */
/**
 * Theme based styles
 */
#section-heading, #section-newsletter, #section-footer {
  background-color: #29292f;
  color: white; }
  #section-heading a, #section-newsletter a, #section-footer a {
    color: #E02438; }
  #section-heading > header h2, #section-newsletter > header h2, #section-footer > header h2 {
    border-bottom-color: #E02438; }
  #section-heading a[href^="tel:"], #section-newsletter a[href^="tel:"], #section-footer a[href^="tel:"] {
    border-bottom-color: #E02438; }

#section-who, #section-cases, #section-products, #section-call-to-action {
  background-color: white;
  color: #2B2B32; }
  #section-who a, #section-cases a, #section-products a, #section-call-to-action a {
    color: #BC3144; }
  #section-who > header h2, #section-cases > header h2, #section-products > header h2, #section-call-to-action > header h2 {
    border-bottom-color: #BC3144; }
  #section-who a[href^="tel:"], #section-cases a[href^="tel:"], #section-products a[href^="tel:"], #section-call-to-action a[href^="tel:"] {
    border-bottom-color: #BC3144; }

/**
 * Default element styles.
 */
html {
  font-size: 20px; }

body {
  font-family: "aleo", Georgia, "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  line-height: 1.5em; }

p {
  font-size: 1em;
  line-height: 1.35em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 0; }

h4 {
  font-size: 1em; }

ol, ul {
  padding-left: 1.25em;
  line-height: 1.85em; }

a[href^="tel:"] {
  border: none; }

address {
  font-style: inherit; }

nav a {
  color: white !important;
  text-decoration: none;
  border-bottom: 2px solid #BC3144; }

nav > aside {
  float: left; }

nav > main {
  float: right;
  margin-right: 15px; }
  nav > main ul {
    text-align: right; }
  nav > main li {
    display: inline;
    list-style: none;
    padding: 1rem; }
    nav > main li:nth-child {
      padding-left: 1.2em; }
      nav > main li:nth-child:after {
        content: "a";
        font-family: "Taller Icons";
        position: relative;
        height: 10px; }

/**
 * Default element styles.
 */
body > header,
body > section,
body > footer {
  position: relative;
  padding: 3rem 10%; }
  body > header > main > article > header > p,
  body > section > main > article > header > p,
  body > footer > main > article > header > p {
    font-size: 1.25em;
    font-style: italic;
    color: #666666; }
  body > header > main h3,
  body > section > main h3,
  body > footer > main h3 {
    font-size: 1.25em; }

header > header,
section > header,
footer > header {
  text-align: center;
  margin-bottom: 3rem; }
  header > header h2,
  section > header h2,
  footer > header h2 {
    display: inline-block;
    padding: 0.75em;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-bottom: 2px solid #E02438; }

/**
 * Heading section styles.
 */
#section-heading {
  margin-bottom: 45vh; }
  #section-heading nav aside {
    padding-left: 0; }
  #section-heading nav h2 {
    font-size: 2em;
    font-style: italic;
    font-weight: normal;
    font-family: "Alegreya", "aleo", Georgia, "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
    text-transform: lowercase;
    letter-spacing: 0.02em;
    margin: 0.2em 0 0; }
    #section-heading nav h2:before {
      color: #E02438;
      display: inline-block;
      margin-right: 0.05em;
      font-size: 1.5em;
      vertical-align: text-bottom;
      -webkit-transform: translate3d(0%, -5%, 0px);
      transform: translate3d(0%, -5%, 0px); }
  #section-heading:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 45vh;
    left: 0;
    right: 0;
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0px 10vh rgba(0, 0, 0, 0.5); }
  #section-heading a[href="#section-who"] {
    position: absolute;
    bottom: 0;
    right: 20%;
    z-index: 1;
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0); }

/**
 * Who section styles.
 */
#section-who > main,
#section-who > footer {
  padding-right: 100px; }

#section-who > main {
  color: #666666;
  font-size: 1.25em; }

#section-who > footer a {
  display: block;
  margin-top: 0.5em;
  border: none;
  padding: 0;
  font-weight: bold;
  font-family: Alegreya;
  font-style: italic;
  font-size: 1.1em; }

/**
 * Cases section styles.
 */
#section-cases {
  background-color: #F9F9F9; }
  @media (max-width: 991px) {
    #section-cases {
      text-align: center; } }
  #section-cases > main > article > header {
    text-align: center; }
  #section-cases > main > article > main p, #section-cases > main > article > main ul {
    color: #666666;
    margin-top: 0.5em;
    font-size: 0.9em;
    line-height: 1.75em; }
  #section-cases > main > article > main ul {
    list-style: none;
    padding: 0; }
    #section-cases > main > article > main ul li {
      display: inline; }
      #section-cases > main > article > main ul li:not(:last-child):after {
        content: ","; }
  #section-cases > main > article > aside img {
    width: 100%; }
    @media (min-width: 992px) {
      #section-cases > main > article > aside img {
        margin-left: -3vw; } }
  #section-cases > main > article .read-more {
    margin-top: 2em; }
  #section-cases > aside {
    margin: 3em 0 2em 10%;
    border: 3px dashed #CCC;
    border-width: 3px 0;
    padding: 2em 0;
    color: #666666;
    font-size: 1.25em; }
    @media (max-width: 991px) {
      #section-cases > aside {
        margin-left: 0; } }
    #section-cases > aside > p {
      margin: 0; }
    #section-cases > aside .call-to-action {
      margin: 0 15px 0 0;
      width: auto; }
      @media (max-width: 991px) {
        #section-cases > aside .call-to-action {
          margin-top: 2em; } }
      @media (min-width: 992px) {
        #section-cases > aside .call-to-action {
          float: right; } }
  #section-cases > footer {
    text-align: center; }
    #section-cases > footer ul li {
      list-style: none;
      display: inline;
      padding: 1rem; }

/**
 * Products section styles.
 */
#section-products {
  padding-bottom: 8rem;
  background: url("../img/el-tracker-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center; }
  @media (min-width: 992px) {
    #section-products {
      text-align: left; } }
  @media (min-width: 0) {
    #section-products aside {
      display: none; } }

/**
 * Call-to-action section styles.
 */
@media (min-width: 992px) {
  #section-call-to-action {
    background-image: linear-gradient(to left, #E7E7E7 50%, white 50%);
    background-size: 100% 100%;
    background-position: 0 0, 0 100%, 0 0;
    background-repeat: no-repeat; } }

@media (max-width: 991px) {
  #section-call-to-action {
    padding: 0; } }

#section-call-to-action #section-services {
  background-color: white; }

#section-call-to-action #section-blog {
  background-color: #E7E7E7; }

#section-call-to-action #section-services,
#section-call-to-action #section-blog {
  text-align: center; }
  #section-call-to-action #section-services p,
  #section-call-to-action #section-blog p {
    font-style: italic; }
  #section-call-to-action #section-services ul,
  #section-call-to-action #section-blog ul {
    margin: 2em 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  @media (max-width: 991px) {
    #section-call-to-action #section-services,
    #section-call-to-action #section-blog {
      padding: 3rem 0; } }

/**
 * Newsletter section styles.
 */
#section-newsletter {
  padding: 6rem 10% 6.5rem;
  background: url("../img/newsletter-background.jpg");
  background-size: cover;
  box-shadow: inset 0 0px 10vh rgba(0, 0, 0, 0.5);
  text-align: center; }
  #section-newsletter input {
    width: 17em; }

/**
 * Footer section styles.
 */
#section-footer h2 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
  #section-footer h2:before {
    font-size: 2rem; }
  #section-footer h2:after {
    content: attr(data-title);
    display: block;
    font-size: 1.2rem;
    font-family: "Alegreya", "aleo", Georgia, "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
    font-style: italic;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 0.1rem; }

#section-footer > main,
#section-footer > aside {
  font-size: .8em; }
  #section-footer > main h3,
  #section-footer > aside h3 {
    color: #666666; }

#section-footer > main p a {
  margin-right: .2em; }

#section-footer > main ul {
  padding: 0; }
  #section-footer > main ul li {
    list-style: none;
    display: inline-block;
    padding: .2em; }
    #section-footer > main ul li:before {
      content: "";
      border-left: 1px solid #666666;
      margin-right: .6em; }
    #section-footer > main ul li:first-child:before {
      border: none;
      padding: 0;
      margin: 0; }
    #section-footer > main ul li a {
      text-decoration: none; }

/**
 * Font familities loading.
 */
@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo_bold_macroman/Aleo-Bold-webfont.eot");
  src: url("../fonts/aleo_bold_macroman/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo_bold_macroman/Aleo-Bold-webfont.woff") format("woff"), url("../fonts/aleo_bold_macroman/Aleo-Bold-webfont.ttf") format("truetype"), url("../fonts/aleo_bold_macroman/Aleo-Bold-webfont.svg#aleobold") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot");
  src: url("../fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo_regular_macroman/Aleo-Regular-webfont.woff") format("woff"), url("../fonts/aleo_regular_macroman/Aleo-Regular-webfont.ttf") format("truetype"), url("../fonts/aleo_regular_macroman/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.eot");
  src: url("../fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.woff") format("woff"), url("../fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.ttf") format("truetype"), url("../fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.eot");
  src: url("../fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.woff") format("woff"), url("../fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.svg#aleobolditalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Taller Icons";
  src: url("../fonts/taller-icons/taller-icons.eot");
  src: url("../fonts/taller-icons/taller-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/taller-icons/taller-icons.woff") format("woff"), url("../fonts/taller-icons/taller-icons.ttf") format("truetype"), url("../fonts/taller-icons/taller-icons.svg#taller-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Form element styles.
 */
input[type="text"] {
  border-width: 2px;
  background-color: transparent;
  outline: none; }
