.container {
  background: #dbdbdb;
  border: 20px solid white;
  padding: 20px;
}
.pull.left {
  float: left;
}
.pull.right {
  float: right;
}
.halfsize {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.halfsize.pull.left {
  padding-right: 10px;
}
.halfsize.pull.right {
  padding-left: 10px;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
img {
  max-width: 100%;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}