h2 {
  text-align: center;
}
.no-margin {
  margin-left: -20px;
  margin-right: -20px;
}
.side-by-side {
  overflow: hidden;
}
.side-by-side > div {
  width: 50%;
  float: left;
  text-align: center;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cases .content {
  border: 1px solid #D8D6D6;
}
.cases {
  padding: 20px;
}

.cases > .case {
  padding-right: 330px;
  position: relative;
}
.cases > .case > img {
  position: absolute;
  right: 20px;
  top: -110px;
}
.cta .btn {
  margin-top: 40px;
}
#clients {
  text-align: center;
  opacity: 0.5;
  padding-bottom: 20px;
}
#eltracker {
  position: relative;
  margin-bottom: 20px;
}

#eltracker > .content {
  padding-right: 50%;
}

#eltracker > img {
  position: absolute;
  bottom: 0;
  right: 20px;
  max-height: 100%;
  max-width: 50%;
}
#products {
  padding-bottom: 0;
}

.product.service ul,
.product.content ul {
  padding: 0;
}

.product.service ul li,
.product.content ul li {
  list-style: none;
}
