h2 {
  text-align: center;
}
.no-margin {
  margin-left: -20px;
  margin-right: -20px;
}
@media screen and (min-width: 760px) {
  .side-by-side {
    overflow: hidden;
  }
  .side-by-side > div {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../img/fundo_hero.jpg');
  background-size: cover;
  padding: 20px 20px 0px;
}
#cases .content {
  border: 1px solid #D8D6D6;
}
.cases {
  padding: 20px;
}

/* CASES */
@media screen and (min-width: 760px) {
  .cases > .case {
    padding-right: 50%;
    position: relative;
  }
  .cases > .case > img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    max-width: 50%;
  }
}

/* CTA */
.cta {
  text-align: center;
}
.cta > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
@media screen and (min-width: 760px) {
  .cta .btn {
    margin-top: 40px;
  }
}
#clients {
  text-align: center;
  opacity: 0.5;
  padding-bottom: 20px;
}

/* PRODUCTS */
#products.container {
  padding-bottom: 0;
}
#eltracker {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
#eltracker > img {
  display: none;
}
@media screen and (min-width: 760px) {
  #eltracker > .content {
    padding-right: 57%;
    text-align: left;
  }
  #eltracker > img {
    display: block;
    position: absolute;
    top: 0;
    right: 5%;
    max-height: 100%;
    max-width: 50%;
  }
}
.side-by-side .product {
  text-align: center;
  padding: 0 20px 25px;
  overflow: hidden;
}
.product.service ul,
.product.content ul {
  padding: 0;
}

.product.service ul li,
.product.content ul li {
  list-style: none;
}
