/**
 * Taller icon styles
 */

$positions: (before, after)

=taller-icon
  font-family: "Taller Icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1

@each $position in $positions
  %taller-icon-#{$position}:#{$position}
    +taller-icon

  %taller-icon-#{$position}-arrow-down
    @extend %taller-icon-#{$position}
    &:#{$position}
      content: "b"

  %taller-icon-#{$position}-dot
    @extend %taller-icon-#{$position}
    &:#{$position}
      content: "c"

  %taller-icon-#{$position}-icon-taller
    @extend %taller-icon-#{$position}
    &:#{$position}
      content: "d"

  %taller-icon-#{$position}-arrow-right
    @extend %taller-icon-#{$position}
    &:#{$position}
      content: "a"
