.consulting-header
  background-image: url('../images/people.jpg')
  background-size: cover
  padding: 0

  h1
    font-size: 2.5rem
    line-height: 1.5
    margin: 0
    font-weight: lighter

  nav
    @extend %theme-dark
    padding: 3rem 10%

  > main
    padding: 3rem 10%
