/*
Title:  Sparkbox Content Priority Guide Styles 
Author:  www.seesparkbox.com
Copyright:  2012
*/
body {
  font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

header {
  padding: 2%;
  margin: 0 0 1em 0;
  background-color: rgba(0, 0, 0, 0.1); }

section {
  padding: 2%;
  margin: 0 0 1em 0;
  background-color: rgba(0, 0, 0, 0.2); }

article {
  margin: 0 0 1em 0;
  padding: 0em .5em;
  border: 1px solid #333; }

footer {
  padding: 2%;
  margin: 0 0 1em 0;
  background-color: #BBB; }

nav ol {
  margin: 0;
  padding: 0; }

nav ol li {
  list-style: none;
  display: inline;
  margin: 1em 1em 0 0; }

img {
  display: block;
  margin: 2% 2%;
  width: 96%;
  height: 10em;
  background-color: #999; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

dt {
  font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

dd {
  font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin: 0 0 .5em 1em; }

.note {
  color: red;
  font-size: .5em;
  padding: .25em .5em;
  border: 1px solid red;
  border-radius: 5em;
  text-decoration: none; }

.logo {
  display: inline;
  margin: 0 .5em;
  width: 3em;
  height: 3em;
  background-color: #999; }
