/**
 * Products section styles.
 */

#section-products
  display: none
  @extend %theme-light
  padding-bottom: 8rem
  background: url("/images/el-tracker-background.png")
  background-size: initial
  background-repeat: no-repeat
  background-position: center bottom
  text-align: center

  +breakpoint($breakpoint-min-lg)
    background-size: contain

  .read-more
    @extend %button-outline-arrow

  +breakpoint($breakpoint-min-md)
    text-align: left

  aside
    margin-top: 1rem

    +breakpoint($breakpoint-min-md)
      margin-top: 0

    +breakpoint($breakpoint-min-lg)
      margin-top: 0

  > main
    > article
      @extend %row

      > main,
      > aside
        @extend %col-md-6

  img
    width: 100%
