<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <!-- Vendor styles -->
    <link href='https://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles -->

    <!-- El Tracker -->
    <script>
    var ElTracker = [];(function(){ var el = document.createElement('script');el.defer = true;el.type = 'text/javascript';el.async = true;el.src = "http://eltracker.io/";el.src += window === window.parent ? "project/cdn/3d0af795-6003-4a08-a668-7a25b161a411" : "project/cdn/editor/3d0af795-6003-4a08-a668-7a25b161a411";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(el, s);})();
    </script>
    <!-- Código do RD Staton -->
    <script type="text/javascript" async="true" src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/38a83442-f3a8-482c-b659-634e039fce40-loader.js" ></script>
    <!-- inject:css -->
    <!-- endinject -->
    <script src="//load.sumome.com/" data-sumo-site-id="56c09898a94f9af92b38521b1d99ec4ab207b8aa5f29630441ab84cf2f80a8f6" async="async"></script>
  </head>
  <body>

    <!-- Heading section -->
    <header id="section-heading">
      <!-- Main menu -->
      <nav>
        <aside>
          <h2>Taller</h2>
        </aside>
        <main>
          <ul>
            <li><a href="http://blog.taller.net.br">Blog</a></li>
            <li><a href="#contact">{{{menu.contact}}}</a></li>
          </ul>
        </main>
      </nav>

      <!-- Hero -->
      <main id="section-hero">
        <p class="hero">
          {{{header.hero}}}
        </p>
        <p class="sub-hero">
          {{{header.subhero}}}
        </p>
      </main>

      <footer>
        <a class="know-more smooth-scroll" href="#section-clients">{{util.know-more}}</a>
      </footer>
    </header>

    <section id="section-members">
      <ul>
        <li
          v-for="member in members"
          v-bind:id="'member-' + member.name"
          v-on:click="swipe(member)"
        >
          <div>
            <img v-bind:src="member.image" />
          </div>
        </li>

        <li v-if="!started"><div><img src="/images/members/1.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/3.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/4.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/5.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/6.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/7.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/8.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/9.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/10.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/12.jpg" /></div></li>
        <li v-if="!started" id="member-ban"><div><img src="/images/members/13.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/14.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/16.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/17.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/1.jpg" /></div></li>
        <li v-if="!started"><div><img src="/images/members/3.jpg" /></div></li>
      </ul>
    </section>

    <!-- Cases section -->
    <section id="section-clients">
      {{#with section.cases}}
      <main>
        <h4>{{{clientLogos.header}}}</h4>
        <ul>
          <li><img src="/images/parceiros/natura.svg" title="Natura" alt="Natura"></li>
          <li><img src="/images/parceiros/ogilvy.svg" title="Ogilvy" alt="Ogilvy"></li>
          <li><img src="/images/parceiros/claro.svg" title="Claro" alt="Claro"></li>
          <li><img src="/images/parceiros/fiesc.svg" title="FIESC" alt="FIESC"></li>
          <li><img src="/images/parceiros/usp.svg" title="USP" alt="USP"></li>
          <li><img src="/images/parceiros/abril.svg" title="Editora Abril" alt="Editora Abril"></li>
        </ul>
      </main>
      {{/with}}
    </section>

    <!-- Services section -->
    <section id="section-studio">
      {{#with section.studio}}
      <header>
        <h2>{{{title}}}</h2>
      </header>

      <main>
        <h3>{{{main.title}}}</h3>
        <p>{{{main.description}}}</p>
        <article class="what">
          <ul class="services-list-first">
            {{#each main.list-first}}
              <li>{{{this}}}</li>
            {{/each}}
          </ul>
          <ul class="services-list-second">
            {{#each main.list-second}}
              <li>{{{this}}}</li>
            {{/each}}
          </ul>
        </article>
        <a class="call-to-action" href="#contact">{{{main.call-to-action}}}</a>
      </main>

      <aside class="services-stack">
        <h3>{{{aside.title}}}</h3>
        <p>{{{aside.description}}}</p>
        <ul>
          {{#each aside.list}}
          <li><a target="_blank" href="{{{this.url}}}">{{{this.text}}}</a></li>
          {{/each}}
        </ul>
      </aside>
      {{/with}}
    </section>

    <section id="section-services">
      {{#with section.services}}
      <aside class="services-training">
        <h3>{{training.title}}</h3>
        <p>{{training.description}}</p>
        <a class="call-to-action" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf8UWmFYOTHI60na5oI9Dp-1cs3n5UCU3Dab5n9I5WZ0jLuHw/viewform?c=0&w=1">{{training.read-more}}</a>
      </aside>

      <main class="services-consulting">
        <h3>{{consulting.title}}</h3>
        <p>{{consulting.description}}</p>
        <a class="call-to-action" href="#contact">{{consulting.read-more}}</a>
      </main>

      <aside class="services-content">
        <h3>{{content.title}}</h3>
        <p>{{content.description}}</p>
        <a class="call-to-action" target="_blank" href="http://blog.taller.net.br">{{content.read-more}}</a>
      </aside>
      {{/with}}
    </section>

    <!-- Cases section -->
    <section id="section-cases">
      {{#with section.cases}}
      <header>
        <h2>{{{title}}}</h2>
      </header>

      <main>
        <article id="case-natura" class="img-slide img-slide-left">
          {{#with list.natura}}
          <aside>
            <img src="/images/mockup_natura.png">
          </aside>
          <main>
            <h3>{{{title}}}</h3>
            <p>{{{description}}}</p>

            <h4>{{{details.[0].title}}}</h4>
            <p>{{{details.[0].description}}}</p>

            <h4>{{{details.[1].title}}}</h4>
            <p>{{{details.[1].description}}}</p>

            <h4>{{{details.[2].title}}}</h4>
            <ul>
              {{#each details.[2].list}}
                <li>
                  <a href="{{this.url}}" target="_blank">{{{this.text}}}</a>
                </li>
              {{/each}}
            </ul>
            <a class="read-more" href="http://natura.com.br" target="_blank">{{read-more}}</a>
          </main>
          {{/with}}
        </article>

        <article id="case-fiesc" class="img-slide img-slide-right">
          {{#with list.fiesc}}
          <aside>
            <img src="/images/mockup_fiesc.png">
          </aside>
          <main>
            <h3>{{{title}}}</h3>
            <p>{{{description}}}</p>

            <h4>{{{details.[0].title}}}</h4>
            <p>{{{details.[0].description}}}</p>

            <h4>{{{details.[1].title}}}</h4>
            <p>{{{details.[1].description}}}</p>

            <h4>{{{details.[2].title}}}</h4>
            <ul>
              {{#each details.[2].list}}
                <li>
                  <a href="{{this.url}}" target="_blank">{{{this.text}}}</a>
                </li>
              {{/each}}
            </ul>
            <a class="read-more" href="http://fiesc.com.br" target="_blank">{{read-more}}</a>
          </main>
          {{/with}}
        </article>

        <article id="case-claro" class="img-slide img-slide-left">
          {{#with list.claro}}
          <aside>
            <img src="/images/mockup_claro.png">
          </aside>
          <main>
            <h3>{{{title}}}</h3>
            <p>{{{description}}}</p>

            <h4>{{{details.[0].title}}}</h4>
            <p>{{{details.[0].description}}}</p>

            <h4>{{{details.[1].title}}}</h4>
            <p>{{{details.[1].description}}}</p>

            <h4>{{{details.[2].title}}}</h4>
            <ul>
              {{#each details.[2].list}}
                <li>
                  <a href="{{this.url}}" target="_blank">{{{this.text}}}</a>
                </li>
              {{/each}}
            </ul>
            <a class="read-more" href="https://www.drupal.org/node/2330069" target="_blank">{{read-more}}</a>
          </main>

          {{/with}}
        </article>

      </main>

      <aside>
        <p>{{{aside.attention}}}</p>
        <a class="call-to-action" href="#contact">{{{aside.call-to-action}}}</a>
      </aside>


      {{/with}}
    </section>


    <!-- Products section -->
    <section id="section-products">
      {{#with section.products}}
      <header>
        <h2>{{{title}}}</h2>
      </header>

      <main>
        <article id="product-el-tracker" class="img-slide img-slide-right">
          {{#with list.el-tracker}}
          <main>
            <h3>{{{title}}}</h3>

            <p>{{{description}}}</p>
            <a class="read-more" href="http://eltracker.io/">{{{read-more}}}</a>
          </main>

          <aside>
            <img src="/images/mockup_eltracker.png">
          </aside>
          {{/with}}
        </article>
      </main>
      {{/with}}
    </section>

    <!-- Who section -->
    <section id="section-who">
      {{#with section.who}}
      <header>
        <h2>{{title}}</h2>
      </header>

      <aside>
        <h3>{{aside.title}}:</h3>
        <ol>
          {{#each aside.list}}
          <li>{{{this}}}</li>
          {{/each}}
        </ol>
        <!--{{{aside.call-to-action}}}-->
      </aside>

      <main>
        {{#each main}}
        <p>{{{this}}}</p>
        {{/each}}
      </main>

      <footer>
        <p><a href="http://blog.taller.net.br/a-historia-da-taller-2-0/">{{{footer.call-to-action}}}</a></p>
      </footer>
      {{/with}}
    </section>


    <!-- Newsletter section -->
    <section id="section-newsletter">
      {{#with section.newsletter}}
      <main>
        <article id="news-main">
          <p>{{{description}}}</p>
          <form id="form-newsletter" action="#rd-subscribe" method="post" target="_blank">
            <input type="email" value="" name="email"  placeholder="{{{placeholder}}}">
            <button name="subscribe" id="mc-embedded-subscribe" >{{{subscribe}}}</button>

            <input type="hidden" id="identificador" name="identificador" value="Inscrição na newsletter do site" >
            <input type="hidden" id="token_rdstation" name="token_rdstation" value="6e0b0b2ec757b35ac11962ed0f72ce1e" >
          </form>
          <div class="form-response">
            <div class="success"><strong>{{{form.success.head}}}</strong> {{{form.success.compliment}}}</div>
            <div class="error"><strong>{{{form.error.head}}}</strong> {{{form.error.compliment}}}</div>
          </div>
        </article>
      </main>
      {{/with}}
    </section>


    <!-- Contact section -->
    <section id="contact" data-remodal-id="contact" data-remodal-options="closeOnOutsideClick: false" class="remodal">
      {{#with contact}}
      <header>
        <h2>{{{title}}}</h2>
      </header>

      <main>
        {{#with form}}
        <form id="form-contact" action="#rd-contact" method="POST" target="_blank">
          <input type="hidden" id="identificador" name="identificador" value="Contato via formulário do site" >
          <input type="hidden" id="token_rdstation" name="token_rdstation" value="6e0b0b2ec757b35ac11962ed0f72ce1e" >

          <label>
            <input type="text" value="" name="nome">
            <span>{{name}}</span>
          </label>

          <label>
            <input type="email" value="" name="email" required>
            <span>{{email}}</span>
          </label>

          <label>
            <select name="assunto">
              <option disabled selected>{{subject.empty}}</option>
              {{#each subject.options}}
                <option value="{{@key}}">{{this}}</option>
              {{/each}}
            </select>
            <span>{{subject.label}}</span>
          </label>

          <label>
            <textarea name="mensagem" required></textarea>
            <span>{{message}}</span>
          </label>

          <button name="submit" value="Enviar" onclick="ga('send', 'event', 'formulario', 'cadastro-em-newsletter', 'Newsletter Site Taller')">{{send}}</button>
        </form>
        <div id="contact-form-success">
          <h2>Mensagem enviada!<small>Entraremos em contato em breve.</small></h2>
          <p>Enquanto isso, visite nosso blog e nossas redes sociais.</p>

          <ul>
            <li><a href="http://blog.taller.net.br/">Blog</a></li>
            <li><a href="http://twitter.com/tallerws" target="_blank">Twitter</a></li>
            <li><a href="http://facebook.com/tallerwebsolutions" target="_blank">Facebook</a></li>
          </ul>

          <p>Grande abraço,<br><i>Tallerbot</i></p>
        </div>
        {{/with}}
      </main>

      <button data-remodal-action="close" class="remodal-close"></button>
      {{/with}}
    </section>


    <!-- Footer area -->
    <footer id="section-footer">
      {{#with footer}}
      <header>
        <h2 data-title="Taller">Taller</h2>
      </header>
      <main>
        <h3>{{{contact.title}}}</h3>
        <p>
          <a href="tel:+554832384665">+55 (48) 3238-4665</a><br/>
          <a href="tel:+554833041032">+55 (48) 3304-1032</a>
          <!--<address>{{{contact.address}}}</address>-->
        </p>
        <p>
            contato@taller.net.br
        </p>
        <ul>
          <li><a href="http://blog.taller.net.br/">Blog</a></li>
          <li><a href="http://twitter.com/tallerws" target="_blank">Twitter</a></li>
          <li><a href="http://facebook.com/tallerwebsolutions" target="_blank">Facebook</a></li>
          <li><a href="http://instagram.com/instadataller" target="_blank">Instagram</a></li>
          <li><a href="http://linkedin.com/company/taller-solu-es-web-inteligentes" target="_blank">Linkedin</a></li>
          <!--<li><a href="http://slideshare.net/tallerws/" target="_blank">Slideshare</a></li>-->
        </ul>
        <ul>
          <li><a href="http://taller.net.br">Português</a></li>
          <li><a href="http://taller.net.br/en">English</a></li>
          <li><a href="http://taller.net.br/es">Español</a></li>
        </ul>
      </main>
      <aside>
        <h3>{{{extras.title}}}</h3>
        <p>
          {{{extras.description}}}
          <br>
          <a href="http://blog.taller.net.br/serie-lean-ui-redesign-taller-case">{{{extras.read-more}}}</a>
        </p>
      </aside>
      {{/with}}
    </footer>

    <!-- JavaScripts -->
    <!-- inject:js -->
    <!-- endinject -->

    <!-- RD Integration scripts. -->
    <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js"></script>
    </body>
