/**
 * Font familities loading.
 */

@font-face {
  font-family: 'aleo';
  src: url('/fonts/aleo_bold_macroman/Aleo-Bold-webfont.eot');
  src: url('/fonts/aleo_bold_macroman/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/aleo_bold_macroman/Aleo-Bold-webfont.woff') format('woff'),
     url('/fonts/aleo_bold_macroman/Aleo-Bold-webfont.ttf') format('truetype'),
     url('/fonts/aleo_bold_macroman/Aleo-Bold-webfont.svg#aleobold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'aleo';
  src: url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot');
  src: url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.woff') format('woff'),
     url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.ttf') format('truetype'),
     url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleo';
  src: url('/fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.eot');
  src: url('/fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.woff') format('woff'),
     url('/fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.ttf') format('truetype'),
     url('/fonts/aleo_regularitalic_macroman/Aleo-Italic-webfont.svg#aleoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'aleo';
  src: url('/fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.eot');
  src: url('/fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.woff') format('woff'),
     url('/fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.ttf') format('truetype'),
     url('/fonts/aleo_bolditalic_macroman/Aleo-BoldItalic-webfont.svg#aleobolditalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Taller Icons";
  src:url("/fonts/taller-icons/taller-icons.eot");
  src:url("/fonts/taller-icons/taller-icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/taller-icons/taller-icons.woff") format("woff"),
    url("/fonts/taller-icons/taller-icons.ttf") format("truetype"),
    url("/fonts/taller-icons/taller-icons.svg#taller-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
