nav
  display: flex
  +breakpoint($breakpoint-max-sm)
    display: block
  justify-content: space-between
  align-items: center

  a
    color: white !important
    text-decoration: none
    border-bottom: 3px solid $color-primary-dark
    padding-bottom: 0.2em

  li + li
    @extend %taller-icon-before-dot
    &:before
      margin-left: -1rem
      margin-right: 1rem
      font-size: 0.4em
      color: $color-grey-lighter

  > aside
    float: left
    +breakpoint($breakpoint-max-sm)
      float: none

  > main
    float: right
    +breakpoint($breakpoint-max-sm)
      float: none

    ul
      text-align: right
      margin: 0
      +breakpoint($breakpoint-max-sm)
        padding-left: .2em
        padding-top: 1em
        text-align: left

    li
      display: inline
      list-style: none
      padding: 1rem
      +breakpoint($breakpoint-max-sm)
        &:first-child
          padding-left: 0
      &:nth-child
        padding-left: 1.2em
        &:after
          content: "a"
          font-family: "Taller Icons"
          position: relative
          height: 10px
